<div class="jumbotron center">
	<h1>Welcome to shortfilmteresting!</h1>
	<h2>Watch and Enjoy!</h2>
	<p>
		<%= link_to "Log in","#", class: "btn btn-default" %>
	 <%= link_to "Sign up","#", class: "btn btn-primary" %>
 </p>
</div>