<div class="jumbotron center">
	<h1>Welcome to shortfilmteresting!</h1>
	<h2>Watch and Enjoy!</h2>
	<% if user_signed_in? %>
	# do something
	<% else%>
	<p>
		<%= link_to "Log in",new_user_session_path, class: "btn btn-default" %>
	 <%= link_to "Sign up", new_user_registration_path , class: "btn btn-primary" %>
 </p>
 <% end %>
 
</div>